.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.active {
  color: gold;
}

.messages {
  padding: 10px;
}

.message {
  color: rgb(28, 12, 37);
}

a{
  text-decoration: none;
}
