.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "headerArea headerArea"
    "navArea contentArea";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.content {
  grid-area: contentArea;
  background-color: aquamarine;
}

.content img {
  width: 300px;
}

.app-wrapper-content {
  grid-area: contentArea;
  background-color: rgb(237, 100, 164);
  padding: 10px;
}
